@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@lettuce-apps-packages/svelte-common/theme';
@source '../../node_modules/@lettuce-apps-packages/svelte-common';

@utility prose-brand {
  --tw-prose-body: var(--color-charade-50);
  --tw-prose-headings: var(--color-charade-50);
  --tw-prose-lead: var(--color-charade-50);
  --tw-prose-links: var(--color-charade-50); /* Links will use your brand color */
  --tw-prose-bold: var(--color-charade-50);
  /* ... add other prose variables as needed for complete control ... */
  --tw-prose-quote-borders: var(--color-charade-50);
  /* Define invert colors for dark mode if necessary */
  --tw-prose-invert-body: var(--color-brand-100);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-links: var(--color-brand-300);
  /* ... */
}
