@import "@fontsource-variable/inter/wght.css";
@import "@fontsource-variable/inter/wght-italic.css";
@import '@lettuce-apps-packages/svelte-common/theme';
@import 'tailwindcss';
@source '../node_modules/@lettuce-apps-packages/svelte-common';

@theme {
  --font-inter: "Inter Variable", sans-serif;
  --animate-jump: jump 0.3s ease-in-out 1;
  --animate-wiggle: wiggle 0.15s ease-in infinite;
  --animate-wiggle-once: wiggle 0.15s ease-in 1;
  --animate-flyup: flyup 0.5s ease-in 1;
  --animate-fadein: fadein 0.5s ease-in 1;

  @keyframes jump {
    50% {
      transform: scale(1.05) translateY(-10%) translateX(5%);
    }

    0%,
    100% {
      transform: scale(1);
    }
  }

  @keyframes wiggle {

    0%,
    100% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(-10%);
    }

    75% {
      transform: translateX(10%);
    }
  }

  @keyframes flyup {
    0% {
      transform: translateY(+100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }
}